.contactContainer {
  height: 90vh;
  width: 100vw;
  max-width: 100%;
  display: grid;
  place-items: center;
  background-color: white;
  position: relative;
  top: 10vh;
}

.mailBtn {
  text-decoration: none;
  transform: translateY(-100vw);
  animation: mailBtnAnimation 2s forwards;
}

.mailBtn > button {
  text-decoration: none;
  font: 200 2vmax "Roboto";
  cursor: url("https://www.iconpacks.net/icons/1/free-mail-icon-1008-thumb.png"), pointer;
  padding: 2vmax;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes mailBtnAnimation {
  to {
    transform: translateY(0);
  }
}
