footer {
  margin-top: 10vmax;
  padding: 2vmax 0vmax 0vmax 0vmax;
  background-color: rgb(40, 39, 39);
  color: white;
  display: flex;
  align-items: center;
}

.copyright{
  background-color: rgb(34, 33, 33);
  color: rgba(255, 255, 255, 0.637);
  padding: 1vmax;
  margin: auto;
  font-family: Calibri, "Trebuchet MS", sans-serif;
}

.leftFooter {
  width: 20%;
  display: flex;

  flex-direction: column;
  align-items: center;
}
.leftFooter > h4 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 1.3vmax;
}
.leftFooter > p {
  text-align: center;
  font-size: 0.9vmax;
  font-weight: 300;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.leftFooter > a > img {
  width: 10vmax;
  margin: 1vmax;
  cursor: pointer;
}

.midFooter {
  width: 60%;

  text-align: center;
}

.midFooter > img{
  width: 30vmax;
  margin: 1vmax 0.5vmax 0vmax 0.5vmax;
  /* cursor: pointer; */
}

.midFooter > h1 {
  font-size: 4vmax;
  font-family: Calibri,"Roboto";
  color: #2893f1;
}
.midFooter > p {
  max-width: 60%;
  font-family: Calibri, "Trebuchet MS", sans-serif;
  margin: 1vmax auto;
}

.rightFooter {
  width: 20%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.rightFooter > h4 {
  font-family: "Roboto";
  font-size: 1.3vmax;
  margin-bottom: 1vmax;
  /* text-decoration: underline; */
}
.rightFooter > a {
  text-decoration: none;
  font-size: 1.3vmax;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
  transition: all 0.5s;
  margin: 0.5vmax;
}

.rightFooter > a:hover {
  color: #2893f1;
}
